@import '../../variables/variables.scss';
@import '../../variables/mixins.scss';


/************
 ////////// Navbar ////////
 ************/


 .navbar {
    /* background-color: $color-2; */
    padding: 1.5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
    z-index: 999999;
    width: 100%;
  
    &.active {
        background-color: $color-2;
        padding: 1.5rem 0;
        transition: all 1s ease-in-out;
        position: relative;
        transition: $tran_3;
        top: 0;
        left: 0;
    }
    .language-in-responsive{
        display: none;
    }
    .navbar-toggler{
        background: none !important;
        border: none !important;
        outline: none !important;
        .icon{
            font-size: 35px;
            color: $color-1;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            width: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 30px;
        }
        .langs {
            display: flex;
            align-items: center;
                a {
                    @include creatBtn;
                    font-size: 13px;
                    text-decoration: none;
                }
        }
    }
    .logo {
        width: 180px;
        object-fit: cover;
    }
    .nav-link {
        color: white;
        text-transform: uppercase;
        font-size: $font_14;
        cursor: pointer;
        padding: 0.7rem;
    }
    .navbar-nav .nav-link.active {
        color: $color-1;
    }
 }

 [dir="rtl"] {
    .navbar {
        .nav-link {
            font-size: $font_16;
        }
        .navbar-collapse {
            .langs {
                    a {
                        @include creatBtn;
                    }
            }
        }
     }
 }
 @media screen and (max-width: 768px) {
    .language-in-responsive{
        display: block !important;
    }  
 }