@import '../../variables/variables.scss';
@import '../../variables/mixins.scss';

.dropdown {
    outline: none;
    border: none;
   

    ul {
        li {
            font-size: $font_14;
        }
    }
    .btn {
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 20px;
        i {
            padding: 0 6px;
        }
    }
    .dropdown-item {
        
        color: white;
        &:hover {
            color: #fff ;
            background-color: $color-1;
        }
    }

}

.dropdown-menu.show {
    display: block;
    background-color: #232f3e;
    color: #999;
    margin-top: 18px;
    transform: translateX(-60px);
    .dropdown-item-text {
        color: white;
    }
}

.dropdown-toggle::after {
    margin:0;
    display: none;

}
// @media screen and (max-width:768px) {
//   .dropdown {
//     margin-right: 50px !important;
//   }  
// }