@import '../variables/variables';

.wrapper-title {
    width:100%;
    padding: 20px 0;
    .coustom_headr{
        color:$color-2 ;
       margin-bottom: 0px;
        text-transform: capitalize;
       font-size: 30px;
       font-weight: bold;
        
    }
    .span{
        width: 40px;
        height: 2px;
        display: inline-block;
        background-color: #f7723e;
        margin-bottom: 7px;
        margin-left: 2px;
        text-align: start
    }
}
@media screen and (max-width: 768px) {
    .coustom_headr{
        color:$color-2 ;
       margin-bottom: 0px;
        text-transform: capitalize;
       font-size: 20px !important;
       font-weight: bold;
        
    }   
}